################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Miliboo/.vs/Miliboo/FileContentIndex
/Miliboo/obj/Debug/net6.0
/Miliboo/obj/Release/net6.0
/Miliboo/obj
/Miliboo/.vs/Miliboo/DesignTimeBuild
/.gitignore
/Miliboo/.vs
/Miliboo/bin/Debug/net6.0
/MilibooTests/bin/Debug/net6.0
